.user-form {
  display: flex;
  width: 100%;
}
.login-form {
  width: 100%;
  text-align: center;
}
input[type='text'],
input[type='password'],
input[type='email'] {
  width: 40%;
  padding: 12px 20px;
  margin: 3%;
  box-sizing: border-box;
}
.login-form > .login-btn:hover {
  background-color: #59bb98;
  text-decoration: none;
}
.login-form > .login-btn {
  background-color: #70eabe;
  margin: 3%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.login-form > .input-login {
  margin: 2%;
}
